body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* CONTENEDORES */
.container-body{
  min-height: 100vh;
}
.container-body-pages{
  height: 600px;
}
.detail-loading{
  height: 800px;
}
.container-body-detail{
  height: auto;
}
/* RUTAS */
.routes{
  margin: 20px;
}
.link-page>a{
  text-decoration-color: #ff42c6;
  font-size: 14px;
  color: black;
}
.link-page>a>i{
  color: #ff42c6;
  font-size: 10px;
  padding: 2px;
}